body {
    height: 100vh;
    background: rgb(0, 0, 0);
    color: #FFFFFF;
    font-size: 12px;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden; 
}
ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 400px;
    font-size: 25px;
}

.sitechange {
    text-decoration: none;
    color: #FFFFFF;
}
.sitechange:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

.duck {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-70%, -50%);
    width: 600px;
    height: 600px;
    z-index: -1;
}

.sellertext{ 
    margin-top: 15%;
    margin-left: 10%;
    font-size: 40px;
    font-weight: bold;
}
.sellerbutton {
    margin-top: 15%;
    margin-left: 10%;
    font-weight: bold;
    background-color: rgb(255, 255, 0);
    color: black;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
}
.moreproducts {
    display: inline-flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 25px;
    gap: 10px;
}
.backup {
    display: inline-flex;
    position: absolute;
    bottom: -14%;
    left: 50%;
    font-size: 25px;
    gap: 10px;
}
.bi {
    margin-top: 4.9%;
}

.footertext {
    position: absolute;
    bottom: -105%;
    left: 50%;
}
a {
    text-decoration: none;
    color: white;
}

.backgroundimage {
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(180deg);
    z-index: -1;
}

.headercontainer {
    margin-top: 1%;
}
 .productimage {
    background-color: rgb(3, 3, 3);
    width: 300px;
    height: 250px;
} 

.productcontainer {
    width: 60%;
    display:grid;
    grid-template-areas:
    "a b"
    "c d";
    margin-top: 16%;
    margin-left: 5%;
}
.product {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    height: 350px;
    border-radius: 10px;
    transition: 0.3s;
    border-top: none;
}

.product:hover {
    transform: scale(1.05);
}
.product1 {
    grid-area: a;
}

.product2 {
    grid-area: b;
}

.product3 {
    grid-area: c;
}
.product4 {
    grid-area: d;
}

.productbutton {
    background-color: rgb(254, 253, 255);
    color: rgb(0, 0, 0);
    border: none;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 100px;
}

.warning {
    font-size: 30px;
    font-weight: bold;
    padding-top:70px;
    text-align: center;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 300px;
    border-radius: 15px;
    background-color: white;
    visibility: hidden;
}

.contactset {
    visibility: visible;
}

.comebackbutton {
    position: absolute;
    top: 2%;
    left: 2%;
    font-size: 30px;
    visibility: hidden;
}
.bix {
    margin-top: -5px;
}

.data {
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 3px solid white;
    border-top: 3px solid white;
}

.trademark {
    position: absolute;
    bottom: 0;
    left: 47%;
    visibility: hidden;
}

.basketicon:hover {
    border: 2px solid white;
    border-radius: 50%;
}