body {
    height: 100vh;
    background: rgb(0, 0, 0);
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 400px;
    font-size: 25px;
}

.duck {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-70%, -50%);
    width: 600px;
    height: 600px;
    z-index: -1;
}

.sellertext{ 
    margin-top: 15%;
    margin-left: 10%;
    font-size: 40px;
    font-weight: bold;
}
.sellerbutton {
    margin-top: 15%;
    margin-left: 10%;
    font-weight: bold;
}
.moreproducts {
    display: inline-flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 25px;
    gap: 10px;
}

.bi {
    margin-top: 6%;
}
a {
    text-decoration: none;
    color: white;
}
.backgroundimage {
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(180deg);
    z-index: -1;
}